body {
    height: 100%;
    background-color: rgb(224, 233, 236);
}

#react-navbar{
    height: 48px;
}
#container{
    display: flex;
    width: 100%;
    position: absolute;
    top: 48px;
    bottom: 0px;
    left: 0px;
}
#react-sider{
    width: 240px;
    overflow: auto;
    background-color: white;
}
#react-content{
    width: 100%;
    padding: 20px;
    overflow: auto;
    background-color: yellow;
}
