body {
  background: #cccc99;
}
// #react-sider {
//   float: left;
//   display: block;
//   padding-bottom: 2000px;
//   margin-bottom: -2000px;
//   background-color: white;
// }
// #react-content {
//   margin-left: 200;
//   width: 100%;
//   padding-bottom: 2000px;
//   margin-bottom: -2000px;
// }

#container{
    display: box;
    display: -webkit-box;
}
#react-sider{
    width: 240px;
    background-color: white;
}
#react-content{
    width: 400px;
    padding: 20px;
    // box-flew: 1;
    // -webkit-box-flew: 1;
    background-color: yellow;
}
